@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Multiverse</h1>
    <ol>
        <li>Dr. Strange</li>
        <li>Spiderman</li>
        <li>Venom</li>
    </ol>
</div>
