<h2>Product details</h2>
<div>
  <p>Title: Gerbera</p>
  <p>Description: Wedding flower</p>
  <p>Unit price: Rs.5</p>
  <p>Stock available: 78000</p>
  <img src="" width="100" height="150" />
  <p>Likes: 67000</p>
</div>


